{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
      "function-paren-newline": ["error", "consistent"],
      "array-element-newline": ["error", { "multiline": true }],
      "array-bracket-spacing": ["error", "never"],
      "comma-dangle": ["error", "always"]
  }
}
